:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

h1 {
  font-family: "Poppins", serif !important;
  font-size: 48px !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h2 {
  font-family: "Poppins", serif !important;
  font-size: 48px !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

h3 {
  font-family: "Poppins", serif !important;
  font-size: 28px !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
}

body {
  font-family: "Poppins", serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}

button {
  font-family: "Poppins", serif !important;
  font-size: 16px !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}