:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* FONT STYLES */
h1, h2, h3, h4, h5 {
  color: #3A111A !important;
  font-family: 'Poppins', serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: .5px !important;
}

h1 {
  font-size: 52px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 32px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

/* BUTTON STYLES */
.ui.button {
  font-family: 'Poppins', serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: .5px !important;
  background-color: #410014 !important;
  color: #fff !important;
}


/* CONTAINER STYLES */
.ui.modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;  
  padding: 25px !important;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.3) !important; /* Adjust opacity here */
  backdrop-filter: blur(14px) !important;
}

/* PAGE STYLES */
.login {
  background-image: url('http://localhost:5555/static/assets/login-hero-04.jpg') !important;
  background-size: cover; /* fills image to screen */
  background-position: center; /* aligns image horizontally */
  background-attachment: fixed; /* image won't move */
  height: 100vh; /* fits all content to screen height */
  display: flex; /* flexbox */
  justify-content: center; /* content horizontal alighment */
  align-items: center; /* content vertical alighment */
  height: 100vh; /* fits content to screen height */
}

.body {
  background-image: url('http://localhost:5555/static/assets/login-hero-04.jpg') !important;
  background-size: cover; /* fills image to screen */
  background-position: center; /* aligns image horizontally */
  background-attachment: fixed; /* image won't move */
  height: 100vh; /* fits all content to screen height */
  overflow: auto; /* image stays fixed on scroll */

  color: #3A111A !important;
  font-family: 'Poppins', serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: .25px !important;  
}

.body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 0;
}

.body.fall {
  background-image: url('http://localhost:5555/static/assets/login-hero-01.jpg') !important;
}

.body.spring {
  background-image: url('http://localhost:5555/static/assets/login-hero-02.jpg') !important;
}

.body.summer {
  background-image: url('http://localhost:5555/static/assets/login-hero-03.jpg') !important;
}

.body.winter {
  background-image: url('http://localhost:5555/static/assets/login-hero-04.jpg') !important;
}

.footer {
  background-color: #fff ;
  margin-top: 50px;
  padding: 20px 10px 50px 10px;
}

/* STYLE REFERENCES */
/* .colors {
  ivory: #EDD1A9 ;
  pink: #EAA0D1 ;
  red: #C14A16 ;
  eggplant: #410014 ;
  green: #96720C ;
  blue: #9BA5C4 ;
} */