:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

/* FONT STYLES */
h1, h2, h3, h4, h5 {
  color: #3A111A !important;
  font-family: "Poppins", serif !important;
  font-optical-sizing: auto;
  font-weight: 700 !important;
  font-style: normal;
  letter-spacing: .5px !important;
}

h1 {
  font-size: 52px !important;
}

h2 {
  font-size: 48px !important;
}

h3 {
  font-size: 32px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

body {
  color: #3A111A !important;
  font-family: "Poppins", serif !important;
  font-optical-sizing: auto;
  font-weight: 400 !important;
  font-style: normal;
  letter-spacing: .25px !important;
}

/* BUTTON STYLES */
button {
  font-family: "Poppins", serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: .5px !important;
}

/* CONTAINER STYLES */
.login-container {
  display: flex; /* flexbox */
  background-image: url('http://localhost:5555/static/assets/login-hero-winter.jpg') !important;
  background-size: cover; /* image fills screen */
  background-position: center; /* image horizontal alighment */
  justify-content: center; /* content horizontal alighment */
  align-items: center; /* content vertical alighment */
  height: 100vh; /* fits content to screen height */
}

.ui.modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;  
  padding: 25px !important;
}